<div class="auto-animated screen sign-in" data-id="1:64" data-page="sign-in" data-screens="register,sign-in,home"
  style="opacity: 1;">
  <div class="group-4-C61RwL" data-id="1:98">
    <div class="download-KOsP6k" data-id="1:77"></div>
  </div>
  <div class="register-C61RwL" data-id="1:78">Register</div>
  <div class="group-2-C61RwL" data-id="1:107">
    <div class="group-1-zUixHA" data-id="1:106">
      <div class="repeat-grid-1-7iuo0N" data-id="1:105">
        <div class="group-dYAhXj" data-id="1:99">
          <div class="rectangle-7-lpdCpC" data-id="1:79"></div>
          <div class="person_fill0_wght0_grad0_opsz-na-n-1-lpdCpC" data-id="1:80"></div>
        </div>
        <div class="group-YRTz3w" data-id="1:100">
          <div class="rectangle-7-f0o5FU" data-id="1:81"></div>
          <div class="person_fill0_wght0_grad0_opsz-na-n-1-f0o5FU" data-id="1:82"></div>
        </div>
        <div class="group-xxBQaE" data-id="1:101">
          <div class="rectangle-7-uvyOz0" data-id="1:83"></div>
          <div class="person_fill0_wght0_grad0_opsz-na-n-1-uvyOz0" data-id="1:84"></div>
        </div>
        <div class="group-vtzzvI" data-id="1:102">
          <div class="rectangle-7-WlDgfm" data-id="1:85"></div>
          <div class="person_fill0_wght0_grad0_opsz-na-n-1-WlDgfm" data-id="1:86"></div>
        </div>
        <div class="group-yhxcYN" data-id="1:103">
          <div class="rectangle-7-pkoEPx" data-id="1:87"></div>
          <div class="person_fill0_wght0_grad0_opsz-na-n-1-pkoEPx" data-id="1:88"></div>
        </div>
        <div class="group-7bA5AR" data-id="1:104">
          <div class="rectangle-7-9JaljS" data-id="1:89"></div>
          <div class="person_fill0_wght0_grad0_opsz-na-n-1-9JaljS" data-id="1:90"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="register-VMr6Om" data-id="1:92">Register</div>
  <div class="passw0rd-C61RwL" data-id="1:93">passw0rd</div>
  <div class="text_label-VMr6Om" data-id="1:95">นามสกุล</div>
  <div class="text_label-mzXdH9" data-id="1:96">เลขประจำตัว</div>
  <div class="text_label-QxM5SU" data-id="1:97">อีเมล</div>
  <div class="rectangle-12-C61RwL" data-id="1:58"></div>
  <div class="menu_fill0_wght0_grad0_opsz-na-n-C61RwL" onclick="Lib.autoanim_redirect('%2A,manu,,,', event)"
    onmouseover="" data-id="1:59"></div>
  <div class="icon-home-C61RwL" data-id="1:62"></div>
  <div class="rectangle-1-C61RwL" data-id="1:63"></div>
  <div class="download-C61RwL" data-id="1:65"></div>
  <div class="sign-in-C61RwL" data-id="1:66">sign in</div>
  <div class="rectangle-8-C61RwL"
    onclick="Lib.autoanim_redirect('register,sign-in%23sign-in,,linear,150.00000596046448;sign-in,sign-in%23home,,linear,150.00000596046448', event)"
    onmouseover="" data-id="1:91"></div>
  <div class="text_label-C61RwL" data-id="1:94">ชื่อ</div>
  <div class="rectangle-7-C61RwL" data-id="1:69"></div>
  <div class="rectangle-7-VMr6Om" data-id="1:70"></div>
  <div class="person_fill0_wght0_grad0_opsz-na-n-1-C61RwL" data-id="1:71"></div>
  <div class="rectangle-10-C61RwL" data-id="1:72"></div>
  <div class="remember-me-C61RwL" data-id="1:73">Remember Me</div>
  <div class="dont-have-an-account-register-C61RwL" onclick="Lib.autoanim_redirect('%2A,sign-in%23register,,,', event)"
    onmouseover="" data-id="1:74"><span class="span0-ry3fiT">Don't have an account?</span><span class="span1-ry3fiT">
      Register</span></div>
  <div class="key_fill0_wght0_grad0_opsz-na-n-C61RwL" data-id="1:75"></div>
  <h1 class="x-C61RwL" data-id="1:60">ระบบสำนักงานอิเล็กทรอนิกส์<br>รร.ชท.สปท.</h1>
</div>
