<div class="home screen " data-id="1:57"><img class="rectangle-12-xl4bh6" data-id="1:58"
    src="https://cdn.animaapp.com/projects/641bb96c8d180350c60c5ff4/releases/641bbca0d90857335b3b6baf/img/rectangle-12-1.png"
    anima-src="https://cdn.animaapp.com/projects/641bb96c8d180350c60c5ff4/releases/641bbca0d90857335b3b6baf/img/rectangle-12-1.png"
    alt="Rectangle 12"><a href="manu"><img class="menu_fill0_wght0_grad0_opsz-na-n-xl4bh6" data-id="1:59"
      src="https://cdn.animaapp.com/projects/641bb96c8d180350c60c5ff4/releases/641bbca0d90857335b3b6baf/img/menu-fill0-wght0-grad0-opsznan@2x.png"
      anima-src="https://cdn.animaapp.com/projects/641bb96c8d180350c60c5ff4/releases/641bbca0d90857335b3b6baf/img/menu-fill0-wght0-grad0-opsznan@2x.png"
      alt="menu_FILL0_wght0_GRAD0_opszNaN"></a>
  <h1 class="x-xl4bh6" data-id="1:60">ระบบสำนักงานอิเล็กทรอนิกส์<br>รร.ชท.สปท.</h1><img class="download-xl4bh6"
    data-id="1:61"
    src="https://cdn.animaapp.com/projects/641bb96c8d180350c60c5ff4/releases/641bbca0d90857335b3b6baf/img/download-2@2x.png"
    anima-src="https://cdn.animaapp.com/projects/641bb96c8d180350c60c5ff4/releases/641bbca0d90857335b3b6baf/img/download-2@2x.png"
    alt="download"><img class="icon-home-xl4bh6" data-id="1:62"
    src="https://cdn.animaapp.com/projects/641bb96c8d180350c60c5ff4/releases/641bbca0d90857335b3b6baf/img/home-48.png"
    anima-src="https://cdn.animaapp.com/projects/641bb96c8d180350c60c5ff4/releases/641bbca0d90857335b3b6baf/img/home-48.png"
    alt="icon-home">
  <div class="rectangle-1-xl4bh6" data-id="1:63"></div>
</div>
